.env
node_modules
.DS_Store
npm-debug.log
package-lock.json
dist
coverage
*.log
*.env
mvp.md
mvp-feature-checklist
.vscode
     
tmp/
!tmp/.gitkeep

uploads/
!uploads/.gitkeep


!uploads/thumbs/
!uploads/display/
!uploads/original/
!uploads/videos/
!uploads/video-thumbs/
