.env
node_modules
.DS_Store
npm-debug.log
package-lock.json
dist
coverage
*.log
*.env
mvp.md
mvp-feature-checklist
.vscode
     

uploads/
!uploads/.gitkeep

uploads/*
!uploads/thumbs/
!uploads/display/
!uploads/original/
!uploads/videos/
!uploads/video-thumbs/
uploads/thumbs/*
uploads/display/*
uploads/original/*
uploads/videos/*
uploads/video-thumbs/*